h1 {
  color: orange;
  text-align: center;
  font-style: oblique;
  font-family: sans-serif;
}

P {
  color: orange;
  font-style: italic;
  font-family: sans-serif;
}

.numbers {
  text-decoration: underline;
}

H2 {
  color: orange;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}

output {
  color: white;
}

ul {
  color: orange;
  text-align: left;
  text-transform: capitalize;
  line-height: normal;
  font-style: oblique;
  font-family: sans-serif;
  line-height: 200%
}
